<div class="message">
    {{#if data.message}}
        <div class="block {{data.messageType}}" id="message">
            <div class="block-content clearfix">
                {{data.message}}
            </div>
        </div>
    {{/if}}
</div>

<div class="block">
    <div class="block-content clearfix">
        <p class="create-note-btn-container pull-left">
            <a href="/?action=add" class="label label-big label-active">{{translations.createNoteBtn}}</a>
        </p>
        <p class="switch-style-container pull-right">
            <label>{{ translations.style }}</label>
            <select id="style-switcher">
                {{#each data.styles}}
                    <option value="{{this.key}}" {{setSelected this.key ../data.style}}>{{this.name}}</option>
                {{/each}}
            </select>
        </p>
    </div>
</div>


<div class="block block-note">
    <div class="block-header">
        {{ translations.sort }}:
        <a href="#" class="label {{#checkSortActive "dueDate"}}label-active{{else}}label-default{{/checkSortActive}}" id="dashboard-sort-duedate">{{ translations.sortDueDate }}</a>
        <a href="#" class="label {{#checkSortActive "createDate"}}label-active{{else}}label-default{{/checkSortActive}}" id="dashboard-sort-createdate">{{ translations.sortCreateDate }}</a>
        <a href="#" class="label {{#checkSortActive "importance"}}label-active{{else}}label-default{{/checkSortActive}}" id="dashboard-sort-importance">{{ translations.sortImportance }}</a>
        <div class="btn-group pull-right">
            <a href="#" id="dashboard-finished" class="btn btn-white"><i class="material-icons" title="{{ translations.filterShowFinished }}">done_all</i></a>
        </div>
    </div>



    <ul class="list-group">
        {{#listNotes data}}
        <li class="list-group-item">

            <p class="title {{#checkFinished finishDate}}finished{{/checkFinished}}"><a href="/?action=edit&id={{ id }}">{{ title }}</a>
                <span class="importance-container pull-right" data-noteid="{{ id }}">{{{ showImportance importance id false}}}</span>
            </p>
            <p class="description">{{ description }}</p>
            <p class="due-date">DueDate: {{ dateFormatter dueDate }}</p>
            <p class="create-date">{{ ../translations.sortCreateDate }}: {{ dateFormatter createDate }}</p>
            <div class="clearfix">
                <div class="pull-left">
                    <a href="/?action=edit&id={{ id }}" class="label label-edit" data-note-id="{{id}}"">{{ ../translations.editBtn }}</a>
                    {{#unless finishDate}}
                        <a href="/?action=done&id={{ id }}" class="label label-done" data-note-id="{{id}}"">{{ ../translations.doneBtn }}</a>
                    {{/unless}}
                </div>
                <div class="pull-right">
                    <a href="#" class="label label-delete" data-note-id="{{id}}">{{ ../translations.deleteNoteBtn }}</a>
                </div>
            </div>
        </li>
        {{/listNotes}}
    </ul>

    <div class="block-footer clearfix">
        <p class="create-note-btn-container pull-left">
            <a href="/?action=add" class="label label-big label-active">{{translations.createNoteBtn}}</a>
        </p>
    </div>
</div>

