<div class="message">
    {{#if data.message}}
        <div class="block {{data.messageType}}" id="message">
            <div class="block-content clearfix">
                {{data.message}}
            </div>
        </div>
    {{/if}}
</div>

<div class="block">
    <div class="block-content clearfix">
        <div class="pull-left">
            <a href="/?action=add" class="label label-big label-active">{{translations.createNoteBtn}}</a>
        </div>
        <div class="switch-style-container pull-right">
            <label>{{ translations.style }}</label>
            <select id="style-switcher">
                {{#each data.styles}}
                    <option value="{{this.key}}" {{setSelected this.key ../data.style}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>


<div class="block block-note">
    <div class="block-header clearfix">
        <div class="pull-left">
            <label>{{ translations.sort }}:</label>
            <a href="#" class="label {{#checkSortActive "dueDate"}}label-active{{else}}label-default{{/checkSortActive}}" id="dashboard-sort-duedate">{{ translations.sortDueDate }}</a>
            <a href="#" class="label {{#checkSortActive "createDate"}}label-active{{else}}label-default{{/checkSortActive}}" id="dashboard-sort-createdate">{{ translations.sortCreateDate }}</a>
            <a href="#" class="label {{#checkSortActive "importance"}}label-active{{else}}label-default{{/checkSortActive}}" id="dashboard-sort-importance">{{ translations.sortImportance }}</a>
        </div>
        <div class="pull-right">
            <label>{{ translations.display }}:</label>
            <a href="#" class="label label-default" id="dashboard-display-all">{{ translations.allNotes }}</a>
            <a href="#" class="label label-default" id="dashboard-display-open">{{ translations.openNotes }}</a>
        </div>
    </div>

    <div class="list-group clearfix">
        {{#listNotes data}}
         <div class="list-group-item-box">
            <div class="list-group-item">
                <p class="title {{#checkFinished finishDate}}finished{{/checkFinished}}"><a href="/?action=edit&id={{ id }}">{{ title }}</a>
                    <span class="importance-container pull-right" data-noteid="{{ id }}">{{{ showImportance importance id false}}}</span>
                </p>
                <p class="description">{{ description }}</p>
                <p class="due-date">DueDate: {{ dateFormatter dueDate }}</p>
                <p class="create-date">{{ ../translations.sortCreateDate }}: {{ dateFormatter createDate }}</p>
                <div class="clearfix">
                    <div class="pull-left">
                        <a href="/?action=edit&id={{ id }}" class="label label-edit" data-note-id="{{id}}"">{{ ../translations.editBtn }}</a>
                        {{#unless finishDate}}
                            <a href="/?action=done&id={{ id }}" class="label label-done" data-note-id="{{id}}"">{{ ../translations.doneBtn }}</a>
                        {{/unless}}
                    </div>
                    <div class="pull-right">
                        <a href="#" class="label label-delete" data-note-id="{{ id }}">{{ ../translations.deleteNoteBtn }}</a>
                    </div>
                </div>
                <div class="delete-modal-layer delete-modal-layer-{{ id }}">
                    <div class="modal-text-box">
                        {{ ../translations.msgDeleteNote }}
                        <div class="modal-button-box">
                            <a href="#" class="dismissDelete label label-big label-active" data-note-id="{{ id }}">{{ ../translations.noBtn }}</a>
                            <a href="#" class="confirmDelete label label-big label-delete" data-note-id="{{ id }}">{{ ../translations.yesBtn }}</a>
                        </div>
                    </div>

                </div>
            </div>
         </div>
        {{/listNotes}}
    </div>

    <div class="block-footer clearfix">
        <div class="create-note-btn-container pull-left">
            <a href="/?action=add" class="label label-big label-active">{{translations.createNoteBtn}}</a>
        </div>
    </div>
</div>

