<div class="block">
    <div class="block-content">
        <a href="/?action=add" class="btn btn-success">{{translations.createNoteBtn}}</a>
    </div>
</div>


<div class="block block-note">
    <div class="block-header"><h3></h3></div>

    <p><a href="#" onclick="App.DashboardController.sortNotes('dueDate');return false">sort nach dueDate</a> |
    <a href="#" onclick="App.DashboardController.sortNotes('createDate');return false">sort nach createDate</a> |
    <a href="#" onclick="App.DashboardController.sortNotes('importance');return false">sort nach importance</a></p>

    <ul class="list-group">
        {{#listNotes data}}
        <li class="list-group-item">
            <p>{{ title }}</p>
            <p>{{ description }}</p>
            <p>DueDate: {{ dateFormatter dueDate }}</p>
            <p>CreateDate: {{ dateFormatter createDate }}</p>
            <p>importance: {{ importance }}</p>
            <p>{{groupNoteByDate}}</p>
        </li>
        {{/listNotes}}
    </ul>

    <div class="block-footer clearfix">
        <div class="button pull-right">
            <a href="/?action=edit&id={{ @key  }}" class="btn btn-success">{{ ../translations.editNoteBtn }}</a>
            <a href="#" class="btn btn-red" onclick="App.DashboardController.deleteNote({{ @key }});return false;">{{ ../translations.deleteNoteBtn }}</a>
        </div>
    </div>
</div>

