

<div class="block">
    <div class="block-content">
        <a href="/?action=dashboard" class="btn btn-success">{{ translations.dashboardBtn }}</a>
    </div>
</div>

<form id="note-form">
    <p>
        <label for="title">{{ translations.noteTitle }}</label>
        <input type="text" id="title" name="title" value="{{ data.title }}">
    </p>
    <p>
        <label for="description">{{ translations.noteDescription }}</label>
        <input type="text" id="description" name="description" value="{{ data.description }}">
    </p>
    <p>
        <label>{{ translations.noteImportance }}</label>
        <input type="radio" name="importance" value="1">
        <input type="radio" name="importance" value="2">
        <input type="radio" name="importance" value="3">
        <input type="radio" name="importance" value="4">
        <input type="radio" name="importance" value="5">
    </p>
    <p>
        <label for="solve-date">{{ translations.noteSolveDate }}</label>
        <input type="text" id="solve-date" name="solve-date" placeholder="dd.mm.yyyy HH:mm" value="{{dateFormatter data.dueDate}}">
    </p>
    <p>
        <button type="button" id="note-submit" class="btn btn-success">{{ translations.saveBtn }}</button>
        <button type="button" class="btn btn-white">{{ translations.cancelBtn }}</button>
    </p>
</form>

